.App {
    background-color: #242121;
    padding-bottom: 5rem;
}

.display-books{
    padding-left: 3rem;
    padding-right: 3rem;
}

.display-books h3{
    font-size: x-large;
    color: white;
    padding-bottom: 2rem;
}

.books{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3.5rem;
}